.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: linear-gradient(to right, white 250px,#d7eec4 250px);
  width: 150px;
  height: 100%;
  border-radius: 20px;
  margin: 20px;
}

ul {
  width: 190px;
  height: 100%;
  list-style-type: none;
  margin: 5;
  padding: 0;
}

li a {
  display: block;
  color: #000000;
  padding: 8px;
  text-decoration: none;
  font-weight: bold;
}

.click {
  display: block;
  color: #000000;
  padding: 8px;
  text-decoration: none;
  font-weight: bold;
  color: #71885e;
  background-color: rgb(192, 192, 192);
}

/* .h1{
  position: absolute;
  font-size: 65px;
  top: -30px;
  text-align: center;
  left: 700px;
}

.h4{
  position: absolute;
  font-size: 17px;
  top: 110px;
  text-align: center;
  left: 550px;
  transform: translateX(0);
} */

h5 {
  padding: 0px 8px;
  font-size: 120%;
  text-align: center;
}

.one {
  width : 180px;
  height: 1px;
  border-bottom-style: solid;
  border-bottom-color:#b5b5b5;
}

.live_list{
  background-color: rgb(192, 192, 192);
}

.tree_image{
  background-color: transparent;
  border: none; 
  cursor: pointer;
}

.tree_image img{
  position: absolute;
  left: 700px;
  top: 183px;
  width: 400px;
  height: 530px;
  z-index: -1;
}


.login_button img{
  position:absolute;
  left: 600px;
  top: 105px;
  background-color: transparent;
  border: none; 
  width: 500px;
  height:500px;
  border-radius: 15px;
}

.login_button_content img{
  position:absolute;
  left: 1064px;
  top: 111px;
  background-color: transparent;
  border: none; 
  width: 30px;
  height:30px;
}

.apple_image{
  position:relative;
  border: none; 
  background-color: transparent;
  cursor: pointer;
  z-index: -1;
}

.apple_image img{
  width: 50px;
  height:50px;
  position:relative;
}

.xlog-navigation-menu{
  font-weight: bold;
  cursor: pointer;
  color: #444444;
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

.input{
  position:absolute;
  left: 275px;
  top:40px;
  width: 1025px;
  padding: 60px;
  padding-bottom: 100px;
  border : 2px solid grey;
  border-radius: 15px;
  font-size: 30px;
  font-family: "Nanum Pen Script", cursive;

}

.input1{
  border-bottom: 2px solid grey;
  padding-bottom: 15px;
  padding-top: 15px;
  font-weight: bold;
  padding-left: 15px;
}
.input2{
  font-size: 25px;
  font-family: "Nanum Pen Script", cursive;
  padding-top: 20px;
}

.input_data_list{
  position:absolute;
  left:275px;
  border-bottom : 2px solid grey;
  border-top : 2px solid grey;
  top: 300px;
  width: 1150px;
  text-align: left;
  padding-bottom: 60px;
}

.backrock_button{
  border: none;
}

.backrock_button img{
  position: absolute;
  left:1300px;
  width:90px;
  top:180px;
  border:none;
}

.nextbutton{
  position: absolute;
  left:820px;
  top:600px;
  border:none;
  cursor: pointer;
}

.history{
  background-color: rgb(255, 243, 201);
  width : 700px;
  height: 100px;
  text-align: center;
  font-family: "Nanum Pen Script", cursive;
  transform: translateX(80%);
  top: 20px;
}

.history_total{
  height: 100px;
}