<!--<!DOCTYPE html>-->
<!--<html lang="ko">-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title th:text="|${pageName}|"></title>-->
<!--</head>-->
<!--<body>-->
<!--<div>-->
<!--    <h1><a th:href="|/${loginType}|">[[${pageName}]]</a></h1> <hr/>-->
<!--    <h2>마이 페이지</h2>-->
<!--    <div>-->
<!--        <div th:text="|ID : ${member.loginId}|"/>-->
<!--        <div th:text="|이름 : ${member.name}|"/>-->
<!--        <div th:text="|role : ${member.role}|"/>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->