<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <title th:text="|${pageName}|"></title>-->
</head>
<body>
<div>
<!--    <h1><a th:href="|/${loginType}|">[[${pageName}]]</a></h1> <hr/>-->
<!--    <h2>로그인</h2>-->
<!--    <form th:action="@{'/' + ${loginType} + '/loginProc'}" method="post" name="loginRequest">-->
<!--        <div>-->
<!--            <label for="loginId">ID : </label>-->
<!--            <input type="text" id="loginId" name="loginId"/>-->
<!--        </div>-->
<!--        <br/>-->
<!--        <div>-->
<!--            <label for="password">비밀번호 : </label>-->
<!--            <input type="password" id="password" name="password"/>-->
<!--        </div>-->
<!--        <br/>-->
<!--        <button type="submit">로그인</button>-->
<!--        <a href="/oauth2/authorization/google">구글 로그인</a>-->
<!--        <a href="/oauth2/authorization/kakao">카카오 로그인</a>-->
        <a href="/oauth2/authorization/naver">네이버 로그인</a>
<!--        <a href="/oauth2/authorization/facebook">페이스북 로그인</a>-->
<!--        <button type="button" th:onclick="|location.href='@{/{loginType}/join (loginType=${loginType})}'|">회원 가입</button> <br/><br/>-->
<!--    </form>-->
</div>
</body>
</html>

<!--<style>-->
<!--    .error-class {-->
<!--        color: red;-->
<!--    }-->
<!--    .error-input {-->
<!--        border-color: red;-->
<!--    }-->
<!--</style>-->