.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: linear-gradient(to right, white 250px,#d7eec4 250px);
  width: 150px;
  height: 100%;
  border-radius: 20px;
  margin: 20px;
}

ul {
  width: 190px;
  height: 100%;
  list-style-type: none;
  margin: 5;
  padding: 0;
}

li a {
  display: block;
  color: #000000;
  padding: 8px;
  text-decoration: none;
  font-weight: bold;
}

.front {
  color: #71885e;
  background-color: rgb(192, 192, 192);
}

h1{
  position: absolute;
  font-size: 65px;
  top: -30px;
  /* padding:30px 30px; */
  text-align: center;
  left: 700px;
}

h4{
  position: absolute;
  font-size: 17px;
  top: 110px;
  /* padding:30px 30px; */
  text-align: center;
  left: 550px;
}

h5 {
  padding: 0px 8px;
  font-size: 120%;
  text-align: center;
}

.one {
  width : 180px;
  height: 1px;
  border-bottom-style: solid;
  border-bottom-color:#b5b5b5;
  /* margin: 10px; */
}
.live_list{
  background-color: rgb(192, 192, 192);
}

.tree_image{
  background-color: transparent;
  border: none; 
  cursor: pointer; /* 커서모양변경 */
}

.tree_image img{
  position: absolute;
  left: 700px;
  top: 213px;
  width: 360px;
  height: 500px;
  z-index: -1;
}


.login_button img{
  position:absolute;
  left: 600px;
  top: 105px;
  background-color: transparent;
  border: none; 
  width: 500px;
  height:500px;
  border-radius: 15px;
}
.login_button_content img{
  position:absolute;
  left: 1064px;
  top: 111px;
  background-color: transparent;
  border: none; 
  width: 30px;
  height:30px;
}